<div class="cursos__wrapper" style="text-align:center; position:relative;">
    <div class="curso__item" style="position:relative; margin-left:auto; margin-right:auto; display:inline-block;">
      <div class="archive__item">
          <div class="archive__item-teaser">
            <img src="https://modelismodigital.com/assets/img/capitulos/C1_img180.jpg" alt="placeholder image 9">
          </div>
        <div class="archive__item-body">
            <h2 class="archive__item-title">Curso Introducción al Modelimos Digital</h2>
            <div class="archive__item-excerpt">
              <p>Comienza a crear modelos digitales. <br> <a href="https://institute-of-digital-art.teachable.com/p/introduccion-al-modelismo-digital">Regístrate gratis</a> <br>No es necesario tarjeta de crédito</p>
            </div>
        </div>
      </div>
    </div>
  
    <div class="curso__item" style="position:relative; margin-left:auto; margin-right:auto; display:inline-block;">
      <div class="archive__item">
          <div class="archive__item-teaser">
            <img src="https://modelismodigital.com/assets/img/capitulos/C9_img180.jpg" alt="placeholder image 9">
          </div>
        <div class="archive__item-body">
            <h2 class="archive__item-title">Curso Modelimos Digital</h2>
            <div class="archive__item-excerpt">
              <p>Aprende a crear tus escenas favoritas en 3D <br><br><br> <a href="https://institute-of-digital-art.teachable.com/p/modelismo-digital">Apúntate</a></p>
            </div>
        </div>
      </div>
    </div>
</div>
